#cards_region {
    overflow: visible;
}

.deckTouchRegion {
    position: absolute;
    background: transparent;
    visibility: hidden;
}

.card {
    position: absolute;
    overflow: visible;
    transition: none;
}

.cardFlipContainer {
    width: 100%;
    height: 100%;
    transition: 0.6s ease-in;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    position: relative;
    overflow: visible;
    pointer-events: none;
}


.cardShadow {
    position: absolute;
    border-radius: 9px;
    pointer-events: none;
    background: rgba(0,0,0,0.5);
    transition: 0.6s ease-in;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    transform: translate3d(0px,0px,-46px) perspective(800px) rotateY(0deg);
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
}

.raiseContainer {
    position: absolute;
    border-radius: 8px;
    overflow: visible;
    transition: 0.6s ease-in;
    transform: scale(1);
    pointer-events: none;
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
}

.cardBack {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(0deg); 
    transition: 0.6s;
    overflow: visible;
    pointer-events: none;
}

.cardFront {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.6s;
    overflow: visible;
    pointer-events: none;
}

.cardFrontShade {
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0;
}

.cardBlowUpImage {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    overflow: visible;
    pointer-events: none;
    animation-name: blowUp;
    animation-duration: 1s;
    animation-delay: 250ms;
    animation-iteration-count: 1;
}

@keyframes blowUp {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.bump {
    animation-name: bump;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes bump {
    50% {
        transform: translate(0px,-40%);
    }
    100% {
        transform: translate(0px,0%);
    }
}

.twist {
    animation-name: twist;
    animation-duration: 1.0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes twist {
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.raiseAndTwist {
    animation-name: raiseAndTwist;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes raiseAndTwist {
    25% {
        transform: translateY(-40px);
    }
    32.5% {
        transform: translateY(-40px) rotate(15deg);
    }
    50% {
        transform: translateY(-40px) rotate(-15deg);
    }
    67.5% {
        transform: translateY(-40px) rotate(15deg);
    }
    75% {
        transform: translateY(-40px) rotate(0deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}